/*background*/
body {
	background: url(../images/mariokart.gif) no-repeat fixed;
	background-size: 100% 100%;
}

/*header*/

h1 {
	background-color: white;
	border: 20px dotted yellow;
	color: orange;
	text-align: center;
	margin: 10px 100px;
}

/*body*/
.imagess {
	background-color: white;
	color: orange;
	border: 10px solid orange;
	margin: 5px;
	text-align: center;
}

/*footer*/
footer {
	color: yellow;
	font-size: 2rem;
	text-align: center;
	position: absolute;
  	width:100%;
  	bottom: 0;
}

